<div class="w-full flex gap-6">
  <div class="flex flex-col gap-4 w-full">
    <div class="text-[#18191F] font-extrabold text-[64px]">
      <p>
        {{ 'Hello,' }}
      </p>
      <p>
        {{ "I'm Ferdy" }}
      </p>
    </div>
    <div class="text-[#474A57] text-xl font-normal">
      {{ 'A software engineer' }}
    </div>
    <div class="flex flex-row gap-4">
      <button
        fnr-button
        fnrText="Hire Me"
      ></button>
      <button
        fnr-button
        fnrText="Download CV"
      ></button>
    </div>
  </div>
  <fnr-frame>
    <img
      class="w-[384px] pt-4 px-4"
      src="assets/images/avatar.svg"
      alt=""
    />
  </fnr-frame>
</div>
